*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

header{
    display: flex;
    flex-direction: column;
}

.lista{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(183, 181, 181);
    height: 50px;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

a:hover{
    color: white;
}

#cabecera{
    height: 200px;
    align-self: center;
    border-radius: 10px;
    margin: 10px;
}

main{
    padding: 20px;
    margin-top: 10px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

h2{
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}

h3{
    text-align: left;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

h4{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

h5{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 17px;
}

p {
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

.img{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin: 10px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon{
    background-color: gainsboro;
    border-radius: 20px;
}

figcaption{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.region > img{
    width: 500px;
}

.pokemon > img{
    width: 300px;
}


footer{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92, 91, 91);
    color: rgb(238, 238, 238);
    padding: 10px;
}

.informacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media  (max-width: 1000px) {
    h1{
        font-size: 80px;
    }

    h2{
        font-size: 40px;
    }

    .img{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr, 1fr;
    }

    .region > img{
        width: 300px;
    }
}

@media  (max-width: 680px) {
    .img{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
}
